#all{
   
    align-items: center;
    justify-content: center;
 }
 .boton{
    color: rgb(32, 21, 77);
 }
.inputBoton{
    /* width: 100%;
    max-width: 400px; */
    width: 90%;
    justify-content: space-between !important;
    
   
}
.input:hover{
    cursor: pointer;
   
}
.textModal{
    color: rgb(28, 26, 49) !important;
}
.label{
    padding-bottom: 5px;
    gap: 0 !important;
    width: 50%;
    justify-content: flex-end !important;
}
.lista{
    padding-left: 0;
}
.noImages{
    padding-left: 1rem;
    padding-top: 5rem;
    padding-bottom: 2rem;

   
}
.todo{
 
   
   /*  max-width: 1440px; */
    justify-content: space-between;
    

}
.deskImage{
    height: 100%;
    padding-top: 2rem;
}
.head{
    font-family: 'Roboto', sans-serif;
   
    font-size: 4rem;
}
.listItem{
    padding: 8px;
}
body p{
    font-size: 16px;

}
.modal-content{
    align-items: center;
    justify-content: center;
   
}
.centrada{
   
    border-radius: 2rem;
    background-color: beige;
    width: 30rem;
    
    

}

.btn_dismiss{
    width: 20rem;
}

